<%= form_for(@book) do |f| %>

  <div class="field row">
    <label class="book_title">Title</label>
    <%= f.text_field :title, class: "col-xs-12" %>
  </div>

  <div class="field row">
    <label class="book_opinion">Opinion</label>
    <%= f.text_area :body, class: "col-xs-12" %>
  </div>
  <br>

  <div class="actions row">
    <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
  </div>
<% end %>